<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="phpunit">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_KEY" value="base64:DpSPm5pefOXQdQwYt2hP6HWcq73Q7icgEvRM2bLjcXw=%"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="MAIL_MAILER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="TELESCOPE_ENABLED" value="false"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
        <env name="BROADCAST_CONNECTION" value="log"/>
        <env name="LOG_CHANNEL" value="stack"/>
        <env name="SANCTUM_STATEFUL_DOMAINS" value="localhost"/>
        <env name="SESSION_DOMAIN" value="localhost"/>
        <env name="SESSION_SECURE_COOKIE" value="false"/>
        <env name="TF_USER_EMAIL" value="test@testuser.com"/>
    </php>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Console</directory>
            <directory suffix=".php">src/Database/Migrations</directory>
            <directory suffix=".php">src/Providers</directory>
        </exclude>
    </source>
</phpunit>
